<script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
<h1>Recherche des cafés</h1>
{{ form_start(form)}}
Nom: {{ form_widget(form.nomcafe) }}
    {{ form_end(form) }}

<h2>Liste des cafés</h2>
<div id="div"></div>

<script>

    $(function(){
        $('#recherche_cafe_form_nomcafe').keyup(
            function () {
                //Récupération de la série
                var nom=$('#recherche_cafe_form_nomcafe').val();
                //Construction de la requête à solliciter
                var Data = 'nomcafe=' + nom;

                $.ajax({
                        //Construction de l'objet XHR avec la méthode POST
                        type: "POST",
                        url: "{{ path('recherchecafe') }}",
                        data: Data,
                        //Test sur le succèes de réponse
                        success: function (data) {
                            console.log(data);
                            //Affichage des données récupérés dans un div
                            $("#div").html(
                                "<table id='res' border='1'>"+
                                "<td>Nom</td>"+
                                "<td>Détails</td>"+
                                "<td>Ville</td></table>");

                            //Parcours
                            $.each(data, function (k,el) {
                                $("#affichage").hide();
                                $("#res").append(
                                    "<tr>"+
                                    "<td>"+el.nomcafe+"</td>"+
                                    "<td>"+el.detailscafe+"</td>"+
                                    "<td>"+ el.positioncafe+"</td>"+
                                    "<td>"+ el.idville.nomville+ "</td>"+
                                    "</tr>"
                                );
                            })
                        }
                    }
                );
            }
        );
    });
</script>