
{% extends 'base.html.twig' %}

  {% block style %}


      {{ parent() }}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//static.ruedufootball.com/css/cm2018-common.css?v3753b998?v3753b998"/>
      <link rel="stylesheet" href="//static.ruedufootball.com/css/cm2018-misc.css?v3753b998?v3753b998"/>
      <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="shortcut icon" href={{ asset("img/favicon.ico") }} type="image/x-icon">
      <link rel="apple-touch-icon" href={{ asset("img/apple_icons_57x57.png") }}>
      <link rel="apple-touch-icon" sizes="72x72" href={{ asset("img/apple_icons_72x72.png") }}>
      <link rel="apple-touch-icon" sizes="114x114" href={{ asset("img/apple_icons_114x114.png" )}}>
      <title>OC Plateforme</title>
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href={{ asset("css/bootstrap.min.css") }} type="text/css" media="all" />
      <link rel="stylesheet" href={{ asset("css/theme.css") }} type="text/css" media="all" />
      <!-- REVOLUTION CSS FILES -->
      <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/settings.css") }}>
      <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/layers.css") }}>
      <link rel="stylesheet" type="text/css" href={{ asset("revolution/css/navigation.css") }}>
      <link rel="stylesheet" href={{ asset("css/custom.css") }} type="text/css" media="all" />

      <link rel="stylesheet" href={{ asset("fonts/Dusha_-_FIFA_World_Cup_2018.ttf") }} type="text/css" media="all" />
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


      {{ parent() }}



      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//static.ruedufootball.com/css/cm2018-common.css?v3753b998?v3753b998"/>
      <link rel="stylesheet" href="//static.ruedufootball.com/css/cm2018-misc.css?v3753b998?v3753b998"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ asset('css/dialog.css') }}" />

      <link rel="stylesheet" type="text/css" href="{{ asset('css/dialog-ken.css') }}" />
      <script src="{{ asset('js/modernizr.custom.js') }}"></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


      <link rel="stylesheet" href="{{ asset('chosen.css') }}">
      <link rel="stylesheet" href="{{ asset('ImageSelect.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="{{ asset('chosen.jquery.js') }}"></script>
      <script src="{{ asset('ImageSelect.jquery.js') }}"></script>


  {% endblock %}


 {% block header %}
     <div id="main_header" class="type4">
         <div class="tagline show_hide">
             <div class="container">
                 <div class="fright">
                     <div class="tagline_items">
                         <div class="log_in_out">
                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                 <a href={{ path("fos_user_security_login") }}><i class="fa fa-user"></i> {{ app.user.username }}</a>
                                 <div class="login_submenu">
                                     <a class="shortcode_button left_icon btn_normal btn_type3" href={{ path("fos_user_security_logout") }} ><i class="fa fa-sign-in"></i>Log out</a>
                                 </div>



                             {% else %}
                                 <a href={{ path("fos_user_security_login") }}><i class="fa fa-sign-in"></i> Login</a>

                             {% endif %}


                             <!-- Login submenu -->
                             <!--<div class="login_submenu">
                                 <form action="javascript:void(0);" method="post">
                                     <input type="text" placeholder="Email or Login*" value="" name="name">
                                     <input type="password" placeholder="Password*" value="" name="password">
                                     <div class="remember_me"><label><input name="remember" type="checkbox" checked value="remember">Remember Password?</label></div>
                                     <a href="javascript:void(0);" class="shortcode_button left_icon btn_normal btn_type3"><i class="fa fa-sign-in"></i>Log in</a>
                                 </form>
                             </div>-->
                             <!-- //Login submenu -->

                         </div>
                         {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                             <div class="cart_btn">
                                 <a href="shop_cart.html" class="view_cart_btn"><img src={{ asset("img/coins.png") }}> {{ app.user.jeton }} Jetons</a>
                             </div>
                         {% endif %}

                         <div class="social_icons">
                             <ul>
                                 <li><span>Follow:</span></li>
                                 <li><a class="soc_fb" href="https://www.facebook.com/Russia2018-153869445327756/"><i class="fa fa-facebook-square"></i></a></li>
                                 <li><a class="soc_tweet" href="https://twitter.com/EspritRussia"><i class="fa fa-twitter"></i></a></li>
                                 <li><a class="soc_instagram" href="https://www.linkedin.com/in/russia-russia"><i class="fa fa-linkedin"></i></a></li>
                             </ul>
                         </div>
                         <div class="language_select">
                             <div class="selectBox">
                                 <span class="selected"></span>
                                 <span class="selectArrow"></span>
                                 <div class="selectOptions">
                                     <span class="selectOption" data-value="france"><img src={{ asset("img/imgs/france_flag.png") }} alt="" />Fr</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- <div class="centrer"><iframe src="http://www.decompte.net/compte-a-rebours.php?c=1528936620&s=1&r=0" id="w2" width="300" height="50" marginheight="0" marginwidth="0" align="middle" scrolling="No" frameborder="0">iframe désactivée</iframe></div>-->
                 <div class="fleft">
                     <div class="phone"><i class="fa fa-phone"></i> +216 50649211</div>
                     <div class="email"><a href="mailto:#"><i class="fa fa-envelope"></i> russia.2018.esprit@gmail.com</a></div>
                 </div>


                 <div class="clear"></div>
             </div>
         </div>


         <div class="header_parent_wrap">
             <header>
                 <div class="container">
                     <div class="logo_sect">
                         <a href={{ path("IndexModele") }} class="logo"><img src={{ asset("img/1.png") }} class="logo_def" alt="" /><img src={{ asset("img/1.png") }} class="logo_retina" alt="" /></a>
                     </div>
                     <div class="fright">
                         <nav>
                             <ul class="menu">
                                 <li class="menu-item-has-children"><a href={{ path("IndexModele") }}>Accueil</a>

                                 </li>
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Actualité</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                 <li><a href="{{ path('actualite_actualite_affichetoute') }}">News</a></li>
                                                 <li><a href="{{ path('actualite_actualite_affiche') }}">Mes Actualités</a></li>
                                                 <li><a href="{{ path('actualite_actualite_homepage') }}">Ajouter Actualité</a></li>
                                             {% else %}
                                                 <li><a href="{{ path('actualite_actualite_affichetoute') }}">News</a></li>
                                             {% endif %}
                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Guide des supporters</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             <li class="menu-item-has-children"><a href="javascript:void(0);">Recommendations</a>
                                                 <div class="sub-nav">
                                                     <ul class="sub-menu">
                                                         <li><a href="">Cafés</a></li>
                                                         <li><a href="">Hôtels</a></li>
                                                         <li><a href="">Restaurent</a></li>

                                                     </ul>
                                                 </div>
                                             </li>
                                             <li><a href="">Stades</a></li>
                                             <li><a href="">Villes</a></li>

                                         </ul>
                                     </div>
                                 </li>
                                 <li class="current-menu-parent menu-item-has-children"><a href="javascript:void(0);">Match/Resultat</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">

                                             <li class="menu-item-has-children"><a href="javascript:void(0);">Matchs</a>
                                                 <div class="sub-nav">
                                                     <ul class="sub-menu">
                                                         <li><a href="{{ path('programme') }}">Programme</a></li>
                                                         <li><a href="{{ path('arbre') }}">Phase Finale</a></li>
                                                         <li><a href="{{ path('listgroupequipe') }}">Matchs par Equipe</a></li>
                                                     </ul>
                                                 </div>
                                             </li>

                                             <li><a href="{{ path('classement') }}">Classement</a></li>
                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="{{ path('_afficher_equipe_Client') }}">Equipes</a>

                                 </li>
                                 {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                     <li class="menu-item-has-children"><a href="javascript:void(0);">Bet</a>
                                         <div class="sub-nav">
                                             <ul class="sub-menu">

                                                 <li><a href="{{ path("programme") }}">Matchs</a></li>
                                                 <li><a href="{{ path("mes_bets") }}">Mes Bets</a></li>


                                             </ul>
                                         </div>
                                     </li>
                                 {% else %}
                                     <li></li>
                                 {% endif %}
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Cadeaux</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                 <li><a href="{{ path("CadeauxModele") }}">Cadeaux</a></li>
                                                 <li><a href="{{ path("RecompenseUser") }}">Mes Recompenses</a></li>
                                             {% else %}
                                                 <li><a href="{{ path("CadeauxModele") }}">Cadeaux</a></li>
                                             {% endif %}

                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="{{ path('discutea_forum_homepage') }}">Forum</a>


                                 </li>
                                 <li class="menu-item-has-children"><a href={{ path("ContactModele") }}>Contact</a>

                                 </li>
                             </ul>
                         </nav>
                         <!--<div class="top_search">
                             <a href="javascript:void(0);" class="search_btn not_click">Search Button</a>
                             <div class="top_search_wrap not_click">
                                 <form name="search_form" method="get" action="#" class="search_form not_click">
                                     <input type="text" name="s" value="" placeholder="Search" class="not_click">
                                     <input type="submit" value="Go">
                                 </form>
                             </div>
                         </div>-->
                         <div class="cart_in_header"></div><div class="socials_in_header"></div>
                         <div class="clear"></div>
                     </div>
                     <div class="clear"></div>
                 </div>
             </header>
         </div>
     </div>


     <br>
     <br>
 {% endblock %}


{% block body %}


{% trans_default_domain 'FOSUserBundle' %}

    <div class="wrapper">
        <div class="container">
            <div class="wrapper_404 text-center">
                <h2 class="color">Bienvenue Parmi Nous {{ app.user.username }}</h2>

               {#} {% block fos_user_content %}
                    <h2>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h2>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                {% endblock fos_user_content %}
{#}

                <div class="shortcode_subscribe">

                        <a type="submit" href="{{ path('IndexModele') }}">Accueil</a>
                </div>

            </div>
        </div>
    </div>



{% endblock %}