{% extends 'base.html.twig' %}




 {% block header %}
     <div id="main_header" class="type4">
         <div class="tagline show_hide">
             <div class="container">
                 <div class="fright">
                     <div class="tagline_items">
                         <div class="log_in_out">
                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                 <a href={{ path("fos_user_security_login") }}><i class="fa fa-user"></i> {{ app.user.username }}</a>
                                 <div class="login_submenu">
                                     <a class="shortcode_button left_icon btn_normal btn_type3" href={{ path("fos_user_security_logout") }} ><i class="fa fa-sign-in"></i>Log out</a>
                                 </div>



                             {% else %}
                                 <a href={{ path("fos_user_security_login") }}><i class="fa fa-sign-in"></i> Login</a>

                             {% endif %}


                             <!-- Login submenu -->
                             <!--<div class="login_submenu">
                                 <form action="javascript:void(0);" method="post">
                                     <input type="text" placeholder="Email or Login*" value="" name="name">
                                     <input type="password" placeholder="Password*" value="" name="password">
                                     <div class="remember_me"><label><input name="remember" type="checkbox" checked value="remember">Remember Password?</label></div>
                                     <a href="javascript:void(0);" class="shortcode_button left_icon btn_normal btn_type3"><i class="fa fa-sign-in"></i>Log in</a>
                                 </form>
                             </div>-->
                             <!-- //Login submenu -->

                         </div>
                         {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                             <div class="cart_btn">
                                 <a href="shop_cart.html" class="view_cart_btn"><img src={{ asset("img/coins.png") }}> {{ app.user.jeton }} Jetons</a>
                             </div>
                         {% endif %}

                         <div class="social_icons">
                             <ul>
                                 <li><span>Follow:</span></li>
                                 <li><a class="soc_fb" href="https://www.facebook.com/Russia2018-153869445327756/"><i class="fa fa-facebook-square"></i></a></li>
                                 <li><a class="soc_tweet" href="https://twitter.com/EspritRussia"><i class="fa fa-twitter"></i></a></li>
                                 <li><a class="soc_instagram" href="https://www.linkedin.com/in/russia-russia"><i class="fa fa-linkedin"></i></a></li>
                             </ul>
                         </div>
                         <div class="language_select">
                             <div class="selectBox">
                                 <span class="selected"></span>
                                 <span class="selectArrow"></span>
                                 <div class="selectOptions">
                                     <span class="selectOption" data-value="france"><img src={{ asset("img/imgs/france_flag.png") }} alt="" />Fr</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- <div class="centrer"><iframe src="http://www.decompte.net/compte-a-rebours.php?c=1528936620&s=1&r=0" id="w2" width="300" height="50" marginheight="0" marginwidth="0" align="middle" scrolling="No" frameborder="0">iframe désactivée</iframe></div>-->
                 <div class="fleft">
                     <div class="phone"><i class="fa fa-phone"></i> +216 50649211</div>
                     <div class="email"><a href="mailto:#"><i class="fa fa-envelope"></i> russia.2018.esprit@gmail.com</a></div>
                 </div>


                 <div class="clear"></div>
             </div>
         </div>


         <div class="header_parent_wrap">
             <header>
                 <div class="container">
                     <div class="logo_sect">
                         <a href={{ path("IndexModele") }} class="logo"><img src={{ asset("img/1.png") }} class="logo_def" alt="" /><img src={{ asset("img/1.png") }} class="logo_retina" alt="" /></a>
                     </div>
                     <div class="fright">
                         <nav>
                             <ul class="menu">
                                 <li class="menu-item-has-children"><a href={{ path("IndexModele") }}>Accueil</a>

                                 </li>
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Actualité</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                 <li><a href="{{ path('actualite_actualite_affichetoute') }}">News</a></li>
                                                 <li><a href="{{ path('actualite_actualite_affiche') }}">Mes Actualités</a></li>
                                                 <li><a href="{{ path('actualite_actualite_homepage') }}">Ajouter Actualité</a></li>
                                             {% else %}
                                                 <li><a href="{{ path('actualite_actualite_affichetoute') }}">News</a></li>
                                             {% endif %}
                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Guide des supporters</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             <li class="menu-item-has-children"><a href="javascript:void(0);">Recommendations</a>
                                                 <div class="sub-nav">
                                                     <ul class="sub-menu">
                                                         <li><a href="">Cafés</a></li>
                                                         <li><a href="">Hôtels</a></li>
                                                         <li><a href="">Restaurent</a></li>

                                                     </ul>
                                                 </div>
                                             </li>
                                             <li><a href="">Stades</a></li>
                                             <li><a href="">Villes</a></li>

                                         </ul>
                                     </div>
                                 </li>
                                 <li class="current-menu-parent menu-item-has-children"><a href="javascript:void(0);">Match/Resultat</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">

                                             <li class="menu-item-has-children"><a href="javascript:void(0);">Matchs</a>
                                                 <div class="sub-nav">
                                                     <ul class="sub-menu">
                                                         <li><a href="{{ path('programme') }}">Programme</a></li>
                                                         <li><a href="{{ path('arbre') }}">Phase Finale</a></li>
                                                         <li><a href="{{ path('listgroupequipe') }}">Matchs par Equipe</a></li>
                                                     </ul>
                                                 </div>
                                             </li>

                                             <li><a href="{{ path('classement') }}">Classement</a></li>
                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="{{ path('_afficher_equipe_Client') }}">Equipes</a>

                                 </li>
                                 {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                     <li class="menu-item-has-children"><a href="javascript:void(0);">Bet</a>
                                         <div class="sub-nav">
                                             <ul class="sub-menu">

                                                 <li><a href="{{ path("programme") }}">Matchs</a></li>
                                                 <li><a href="{{ path("mes_bets") }}">Mes Bets</a></li>


                                             </ul>
                                         </div>
                                     </li>
                                 {% else %}
                                     <li></li>
                                 {% endif %}
                                 <li class="menu-item-has-children"><a href="javascript:void(0);">Cadeaux</a>
                                     <div class="sub-nav">
                                         <ul class="sub-menu">
                                             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                 <li><a href="{{ path("CadeauxModele") }}">Cadeaux</a></li>
                                                 <li><a href="{{ path("RecompenseUser") }}">Mes Recompenses</a></li>
                                             {% else %}
                                                 <li><a href="{{ path("CadeauxModele") }}">Cadeaux</a></li>
                                             {% endif %}

                                         </ul>
                                     </div>
                                 </li>
                                 <li class="menu-item-has-children"><a href="{{ path('discutea_forum_homepage') }}">Forum</a>


                                 </li>
                                 <li class="menu-item-has-children"><a href={{ path("ContactModele") }}>Contact</a>

                                 </li>
                             </ul>
                         </nav>
                         <!--<div class="top_search">
                             <a href="javascript:void(0);" class="search_btn not_click">Search Button</a>
                             <div class="top_search_wrap not_click">
                                 <form name="search_form" method="get" action="#" class="search_form not_click">
                                     <input type="text" name="s" value="" placeholder="Search" class="not_click">
                                     <input type="submit" value="Go">
                                 </form>
                             </div>
                         </div>-->
                         <div class="cart_in_header"></div><div class="socials_in_header"></div>
                         <div class="clear"></div>
                     </div>
                     <div class="clear"></div>
                 </div>
             </header>
         </div>
     </div>


     <br>
     <br>
 {% endblock %}

  {% block body %}

<div class="wrapper">
    <div class="container">
        <div class="content_block row right-sidebar">
            <div class="page_title">
                <h1>Nous Sommes Toujours Ouverts à Parler</h1>
                <div class="icon_divider"></div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
            </div>
            <div class="fl-container hasRS">
                <div class="posts-block">
                    <div class="contentarea">

                        <div class="row">
                            <div class="col-sm-12 module_cont pb43 module_google_map">
                                <div class="module_content">


                                    <iframe src="https://www.google.com/maps/d/embed?mid=1z8y-1Xv7DrJogvhDWg-DMZ59v2w2443f&hl=fr" width="740" height="480"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont contact_form_module pb10">
                                <h4>Drop Us a Line</h4>
                                <p class="required">Your email address will not be published. Required fields are marked *</p>
                                <div class="row">
                                    <div class="col-sm-8 module_cont pb20">
                                        <div class="module_content contact_form">
                                            <div id="note"></div>
                                            <div id="fields">

                                                <form method="post"  >
                                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                    <input type="text" name="name"  value="{{ app.user.username }}" placeholder="Name *" disabled />
                                                    <input type="text" name="email" value="{{ app.user.email }}" placeholder="Email *" disabled />
                                                    <input type="text" name="subject" value="" placeholder="Subject" />
                                                    <textarea name="message" id="message" placeholder="Message *"></textarea>
                                                    <div class="comment_submit_wrap">
                                                        <i class="fa fa-hand-o-right"></i>
                                                        <input type="submit" text="chercher" name="chercher">
                                                    </div>
                                                        {% else %}

                                                    <input type="text" name="name" value="" placeholder="Name *" />
                                                    <input type="text" name="email" value="" placeholder="Email *" />
                                                    <input type="text" name="subject" value="" placeholder="Subject" />
                                                    <textarea name="message" id="message" placeholder="Message *"></textarea>
                                                    <div class="comment_submit_wrap">
                                                        <i class="fa fa-hand-o-right"></i>
                                                        <input type="submit" text="chercher" name="chercher">

                                                    </div>
                                                    {% endif %}
                                                </form>



                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont pb20">
                                        <div class="textwidget contact_text">
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-phone"></i> Phone Number:</p>
                                                <p class="pl15">+216 50649211 - <span>Central Office</span></p>

                                            </div>
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-map-marker"></i> Office:</p>
                                                <p class="pl15">EspritIncubator, Ghazela , Tunisie</p>
                                            </div>
                                            <div class="section">
                                                <p class="section_title"><i class="fa fa-envelope"></i> Email:</p>
                                                <p class="pl15"><a href="mailto:#">russia.2018.esprit@gmail.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>




  {% endblock %}