{% extends 'base.html.twig' %}

  {% block body %}


      <div class="wrapper">
          <div class="container">
              <div class="content_block row no-sidebar">
                  <div class="fl-container">
                      <div class="posts-block">
                          <div class="contentarea">

                              <!-- Slider -->
                              <div class="fw_block bg_start wall_wrap">
                                  <div class="row">
                                      <div class="col-sm-12 first-module module_slider module_cont pb0 fullwidthslider">
                                          <div class="slider_container">
                                              <div class="fullscreen_slider">
                                                  <ul>
                                                      <!-- SLIDE 1 -->

                                                      <li data-index="rs-1" data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                                                          <img   src={{ asset("img/russia2018.jpg") }}  alt="slide1" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                                          <!-- LAYER NR. 1 -->
                                                          <div  class="tp-caption tp-resizeme tp-resizeme slide_title70 bold light text-uppercase z_index2"
                                                                id="slide-1-layer-1"
                                                                data-x="center" data-hoffset="0"
                                                                data-y="top" data-voffset="136"
                                                                data-whitespace="nowrap"
                                                                data-transform_idle="o:1;"
                                                                data-transform_in="y:-200px;opacity:0;s:1000;e:Power4.easeOut;"
                                                                data-transform_out="opacity:0;s:500;s:500;"
                                                                data-start="1500"
                                                                data-elementdelay="0.05"><p class="titre1">
                                                                  Bienvenue en Russie!</p>
                                                          </div>

                                                          <!-- LAYER NR. 2 -->
                                                          <div class="tp-caption tp-resizeme slide_subtitle25 light z_index3"
                                                               id="slide-1-layer-2"
                                                               data-x="center" data-hoffset="0"
                                                               data-y="top" data-voffset="210"
                                                               data-whitespace="nowrap"
                                                               data-transform_idle="o:1;"
                                                               data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                                                               data-transform_out="opacity:0;s:500;s:500;"
                                                               data-start="2000"
                                                               data-elementdelay="0.05"><div  style="top: 76.193px;transition: none;line-height: 42px;border-width: 0px;margin: 0px;padding: 0px;letter-spacing: 0px;font-weight: 500;font-size: 25px;left: 248px;">
                                                                  <div id="countdown"></div>
                                                              </div>
                                                          </div>
                                                          <!-- LAYER NR. 3 -->
                                                          <div class="tp-caption tp-resizeme slide_btn dark_parent z_index5"
                                                               id="slide-1-layer-3"
                                                               data-x="left" data-hoffset="430"
                                                               data-y="top" data-voffset="270"
                                                               data-whitespace="nowrap"
                                                               data-transform_idle="o:1;"
                                                               data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                               data-transform_out="opacity:0;s:500;s:500;"
                                                               data-start="2500"
                                                               data-elementdelay="0.05">
                                                          </div>
                                                          <!-- LAYER NR. 4 -->
                                                          <!--<div class="tp-caption tp-resizeme slide_btn dark_parent z_index5"
                                                               id="slide-1-layer-4"
                                                               data-x="left" data-hoffset="592"
                                                               data-y="top" data-voffset="270"
                                                               data-whitespace="nowrap"
                                                               data-transform_idle="o:1;"
                                                               data-transform_in="y:100px;opacity:0;s:1000;e:Power4.easeOut;"
                                                               data-transform_out="opacity:0;s:500;s:500;"
                                                               data-start="2500"
                                                               data-elementdelay="0.05"><a class="shortcode_button btn_normal btn_type6" href="javascript:void(0);">Get in Touch<i class="fa fa-angle-double-right"></i></a>
                                                          </div>-->
                                                      </li>


                                                  </ul>

                                              </div>

                                          </div>
                                      </div>
                                  </div>


                              </div>
                              <!-- //Slider -->


                              <div class="fw_block bg_start stretch portfolio_bg2 pt65 mb65">
                                  <div class="row">
                                      <div class="col-sm-12 module_cont module_title pb5">
                                          <div class="bg_title">
                                              <h2>Liste des actualités</h2>
                                              <div class="icon_divider"></div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row flip_box_section pb40">
                                      {% for a in ac %}
                                      <div class="col-sm-3 module_cont">

                                          <div class="flip-box-wrap">

                                              <div class="flip-box green_bg">

                                                  <div class="ifb-flip-box">
                                                      <div class="ifb-face ifb-front">
                                                          <div class="ifb-flip-box-section ">
                                                              <h5>{{ a.titre }}</h5>
                                                              <p class="mb24"></p>
                                                              <div class="flip-box-icon" style="height: max-content">
                                                                  <img height="" alt="" src={{ asset('images/') }}{{ a.nomImage2 }} />
                                                              </div>

                                                          </div>
                                                      </div><!-- END .front -->
                                                      <div class="ifb-face ifb-back">
                                                          <div class="ifb-flip-box-section">
                                                              <h5>Détails</h5>
                                                              <div class="ifb-desc-back">
                                                                  <p>{{ a.texte }}</p>

                                                              </div>

                                                              <a class="shortcode_button btn_small btn_type1" href="{{ path('actualite_actualite_affichedetaille',{'id':a.idactualite})}}">Détails<i class="fa fa-angle-double-right"></i></a>
                                                              <a class="shortcode_button btn_small btn_type1" href="{{ path('actualite_actualite_pdf',{'id':a.idactualite})}}">imprimer<i class="fa fa-angle-double-right"></i></a>

                                                          </div>
                                                      </div><!-- //back -->
                                                  </div><!-- //ifb-flip-box -->


                                              </div><!-- //flip-box -->

                                          </div>

                                      </div>
                                      {% endfor %}

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="clear"></div>
              </div>
          </div>

      </div>

  {% endblock %}


