<img src="data:image/png;base64,
{{ barcode({code: 'oussema.hraiech@esprit.tn', type: 'qrcode', format: 'png', width: 2, height: 2, color: [0, 0, 0]}) }}
" />
<div align="center" style="color: red;font-size: 20px"><u><b><i>{{ resto.nomresto }}</i></b></u></div>

<br>
<div align="center"><img height="200px" width="200px" border="1" src="{{ asset('uploads/images/' ~ resto.photoresto) }}"></div>
<div align="center" style="color: black"><img width="11" height="11" src="{{ asset('bower_components/Ionicons/png/512/android-information.png') }}">&nbsp;Description: {{ resto.detailsresto }}
    <br>
    <img width="11" height="11" src="{{ asset('bower_components/Ionicons/png/512/ios7-home.png') }}">&nbsp;Ville: {{ resto.idville.nomville }}
</div>
<div class="print-show">
    <img border="1" height="260" width="500" src="http://maps.googleapis.com/maps/api/staticmap?center={{ resto.positionresto }}&zoom=16&scale=false&size=900x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:big|color:red|label:|{{ resto.positionresto }}"/>
</div>
<br>
Imprimé le: {{ "now"|date("d/m/Y") }} à {{ "now"|date("H:i") }}
<br>
Par l'utilisateur: <b>{{ app.user.username }}</b>
