<img src="data:image/png;base64,
{{ barcode({code: 'oussema.hraiech@esprit.tn', type: 'qrcode', format: 'png', width: 2, height: 2, color: [0, 0, 0]}) }}
" />
<div align="center" style="color: red;font-size: 20px"><u><b><i>{{ ville.nomville }}</i></b></u></div>

<br>
<div align="center"><img height="200px" width="200px" border="1" src="{{ asset('uploads/images/' ~ ville.photoville) }}">
    &nbsp;<img height="200px" width="200px" border="1" src="{{ asset('uploads/images/' ~ ville.logoville) }}">
</div>

<div align="center" style="color: black"><img width="11" height="11" src="{{ asset('bower_components/Ionicons/png/512/calendar.png') }}">&nbsp;Fondation: {{ ville.fondationville }}&nbsp;
    <img width="11" height="11" src="{{ asset('bower_components/Ionicons/png/512/android-social-user.png') }}">&nbsp;Population: {{ ville.populationville }}
    <img width="11" height="11" src="{{ asset('bower_components/Ionicons/png/512/ios7-football.png') }}">&nbsp;Equipe locale: {{ ville.equipelocale }}
</div>
<div class="print-show">
    <img border="1" height="270" width="500" src="http://maps.googleapis.com/maps/api/staticmap?center={{ ville.coordonnees }}&zoom=16&scale=false&size=900x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:big|color:red|label:|{{ ville.coordonnees }}"/>
</div>
<br>
Imprimé le: {{ "now"|date("d/m/Y") }} à {{ "now"|date("H:i") }}
<br>
Par l'utilisateur: <b>{{ app.user.username }}</b>